*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{

height: 100vh;
overflow: hidden;
display: flex;
background: url(./img/bg.png);

}

.app{

width: 100vw;
height: 100vh;
display: flex;

}

.lobby{

width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
overflow: hidden;
animation: fadelobby 1s ease-in-out;

}

#play-btn{
    margin-top: -10%;
    transform: scale(2.5);
    height: 10%;
    transition: .3s ease;

   
}

#play-btn:active{
    transform: scale(1.8);
}

#banner-game{
    margin-bottom: -17%;
    height: 10%;
    transform: scale(3);
   

}

@keyframes fadelobby {
    
    from{

        transform: scale(0);
        opacity: 0;

    }

    to {

        opacity: 1;
        transform: scale(1);

    }

}

.ciemnia{

    position: absolute;
    top: 0%;
    left: 0%;
    transform: scale(1);
    opacity: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 2s ease-in-out;
    animation: cienia 2s ease-in-out;

}

@keyframes cienia {
    
    from{

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}

.game-lobby{

    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(./img/game-lobby-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    opacity: 1;
    animation: game-lobby 1s ease-in-out;

}

@keyframes game-lobby {
    
    from{

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}

.buttons{

    width: 100%;
    height: 10%;
    background: rgba(255, 0, 0, 0);
    position: absolute;
    bottom: 7%;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: space-evenly;
}

.button-shop{
    display: flex;
    width: 100%;
    height: 100%;
 
    transform: scale(1.5);
    background: url(./img/btn-battle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s ease;
    filter: drop-shadow(1px 1px 4px black);

}

.button-shop:active{
    transform: scale(1);
}


.button-shop img{
    width: 10%;
    height: 100%;
}
